.wrapper {
  display: flex;
  flex-flow: row;
}

.wrapper div {
  width: 100px;
  height: 60px;
  border: 2px solid black;
  margin: 20px;
  cursor: pointer;
}

.true {
  box-shadow: 0 0 5px 5px #fcff51;
}

.ingredients-count {
  margin-left: 20px;
  margin-bottom: 20px;
}

.ingredients-count select {
  width: 70px;
  height: 30px;
  margin-left: 10px;
}

.wrapper-selects {
  margin-left: 20px;
}

.wrapper-selects select {
  width: 70px;
  height: 30px;
  margin-left: 10px;
}